<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ChatServer</display-name>
    <servlet>
        <servlet-name>WebSocket</servlet-name>
        <servlet-class>com.yf.main.MySocketServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.yf.main.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GanServlet</servlet-name>
    <servlet-class>com.yf.main.GanServlet</servlet-class>
  </servlet>


    <servlet-mapping>
        <servlet-name>WebSocket</servlet-name>
        <url-pattern>/socket</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GanServlet</servlet-name>
    <url-pattern>/gan</url-pattern>
  </servlet-mapping>
    
    <jsp-config>
      <taglib>
          <taglib-uri>/dateTag</taglib-uri>
         <taglib-location>/WEB-INF/mytag.tld</taglib-location>
      </taglib>
    </jsp-config>
    
    <error-page>
      <error-code>404</error-code>
      <location>/tag.jsp</location>
    </error-page>
    
    <welcome-file-list>
        <welcome-file>/chat.jsp</welcome-file>
    </welcome-file-list>
    
    
</web-app>